.form-inline.clearfix
	.nested-fields
		= f.input :step, input_html: { class: 'form-control form-input', maxlength: 16, minlength: 5}
		= link_to_remove_association "remove", f, class: "form-button btn btn-danger"